data/*.csv
data/*.txt
**/.DS_Store
**/.ipynb_checkpoints/
**/__pycache__/
app/src/node_modules/
app/src/build/
app/src/.firebase/

.vscode/
env/
scraper/env/
scraper/review_data/
scraper/wine_data/
scraper/user_links.json

**/cornac_experiments/
